* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1b1b1b;
  --border-bottom-color: #e2e2e2;
  --footer-background-color: #3b3b3b;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

/* Utilities  */

.flexbox-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

a {
  text-decoration: none;
}

h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 0;
}

h4 {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.4rem;
  margin: 1rem 0 0.25rem;
}

.flexbox-container-navlink__color span {
  color: #1b1b1b;
}

/* Header  */

header {
  border-bottom: 1px solid var(--border-bottom-color);
}

header,
footer {
  background: #fff;
  align-items: center;
  padding: 10px;
  font-family: "Fjalla One", sans-serif;
}

header .logo,
footer .logo {
  flex-grow: 1;
}

header .logo span img,
footer .logo span img {
  display: inline-block;
  width: 3.6rem;
  height: auto;
}

footer {
  background: var(--footer-background-color);
  margin-top: 1.7rem;
}

/* Slider  */

.slide-container {
  padding-top: 0;
}

.item-slider {
  height: 700px;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  font-family: "Fjalla One", sans-serif;
}

.item-slider .caption {
  color: #fff;
  position: absolute;
  right: 0;
  padding: 1.25rem;
  text-align: right;
  width: 20rem;
  text-transform: uppercase;
}

.item-slider .caption h4 {
  font-weight: 300;
  margin: 0;
  font-size: 1.2rem;
}

.item-slider .caption p {
  font-size: 5rem;
  margin-top: 0;
}

/* Subscribe  */

.subscribe_panel {
  text-align: center;
  width: 21.88rem;
  margin: 0 auto;
}

.subscribe_panel h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 0;
  padding-top: 4rem;
}

.subscribe_panel input {
  border-radius: 1.25rem;
  border: 3px solid #dddddd;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.6rem;
  margin: 0.6rem 0;
}

.subscribe_panel input:focus {
  outline-width: 0;
  border: 3px solid rgba(100, 238, 208, 0.815);
}

.subscribe_panel small {
  line-height: 0;
}

/* Home Image Grid  */

.home_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.home_images .item {
  flex-grow: 1;
  position: relative;
  height: 16.88rem;
  overflow: hidden;
}

.home_images .item.lg {
  width: 50%;
  animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}

.home_images .item.md {
  width: 30%;
  animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}

.home_images .item.sm {
  width: 20%;
  animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}

.home_images .item .image {
  height: 16.88rem;
  background-size: cover !important;
  background-position: center center !important;
}

.home_images .item .title {
  background: rgb(53, 53, 53);
  padding: 0.75rem;
  transition: all 500ms ease-in-out;
  padding-bottom: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Fjalla One", sans-serif;
}

.home_images .item:hover .title {
  transform: translate(0, -69px);
}

.home_images .item .title a {
  color: #fff;
}

.home_images .item .veil {
  background: #000000;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  transition: all 500ms ease-in-out;
}

.home_images .item:hover .veil {
  opacity: 0;
  transition: all 500ms ease-in-out;
  animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}
